# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints/

# Директории данных
data/raw/
data/processed/

# Системные файлы
.DS_Store
Thumbs.db

# Логи
*.log

# Настройки среды разработки
.vscode/
.idea/
